body {
    font-family: 'Source Code Pro', monospace;
	font-size: 16pt;
	white-space: nowrap;
}


#options {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}